# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Postman / Newman
reports/         # тут зберігатимуться HTML-звіти

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Mocks
mockApi/db_stage.yaml
