name: Run API Tests

on:
  push:
    branches: [main]

jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install Newman
      run: npm install -g newman

    - name: Start mock server
      run: npx yaml-server --hotReload=off --autoStart=off --port 3000 --database ./mockApi/db_stage.yaml &

    - name: Run Postman collection
      run: |
        mkdir -p reports
        newman run store.collectionmy.json -e env.json -r cli,html --reporter-html-export reports/report.html --suppress-exit-code

    - name: Commit Newman report
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add reports/report.html
        git commit -m "Add Newman HTML report" || echo "No changes to commit"
        git push
